
<!-- =====================================WEB WORKER USING ANGULER===================================== -->
<h1>{{ title }}</h1>

<div>
   <a href="#" (click)="find10thPrimeNumber()"><button>Click here</button></a> to find 10th prime number
   <div>The 10<sup>th</sup> prime number is {{ prime10 }}</div> <br />
   <button><a href="#" (click)="find10000thPrimeNumber()">Click here</a> to find 10000th prime number</button>
   <div>The 1000<sup>th</sup> prime number is {{ prime10000 }}</div>
   <div>The 8000<sup>th</sup> prime number is {{ prime100001 }}</div>
   <div>The 200<sup>th</sup> prime number is {{ prime100002 }}</div>
   <div>The 3000<sup>th</sup> prime number is {{ prime100003 }}</div>
   <div>The 6000<sup>th</sup> prime number is {{ prime100004 }}</div>
</div>